.btn-outline-info {
  color: rgba($color-txt-primary, 0.65);
  &:hover {
    color: $color-txt-primary;
  }
}

.btn-icon {
  overflow: hidden;
  position: relative;
  height: $height-btn;
  line-height: $height-btn;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size-btn-icon $size-btn-icon;
  transition: background-position $transition-time-sm linear;
  padding: 0;
  p {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: ($height-btn - $height-btn-text) / 2;
    transform: translateY(-$height-btn);
    transition-property: transform;
    transition-duration: $transition-time-sm;
    transition-timing-function: linear;
  }
  &:hover {
    background-position: center top $height-btn;
    p {
      transform: translateY(0);
    }
  }
}

.btn-download {
  background-image: url("../images/icons/download.svg");
}

.btn-view-more {
  background-image: url("../images/icons/eye.svg");
}

.btn-code {
  background-image: url("../images/icons/code.svg");
}

.btn-arxiv {
  background-image: url("../images/icons/file.svg");
}

.btn-publisher {
  background-image: url("../images/icons/journal.svg");
}
