.section-icon {
  width: $size-section-icon;
  height: $size-section-icon;
}

.bg {
  &-img {
    position: absolute;
    height: 100%;
    top: 0;
    min-width: 120%;
  }
  &-container {
    position: relative;
    overflow: hidden;
  }
}
