.section-icon {
  width: $size-section-icon;
  height: $size-section-icon;
}

.bg {
  &-img {
    position: absolute;
    height: 100%;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  &-container {
    position: relative;
    overflow: hidden;
  }
}
