.section-icon {
  width: $size-section-icon;
  height: $size-section-icon;
}

.bg {
  &-img {
    position: absolute;
    height: 100%;
    top: 0;
    min-width: 100%;
    background-position: center;
  }
  &-container {
    position: relative;
    overflow: hidden;
  }
}

#section-education > .bg-img {
  left: 0;
  background-image: url("../images/institutes/university.jpg");
  background-size: contain;
}
