* {
  font-family: $font-family-default;
}

.navbar-brand {
  font-family: $font-family-web-heading;
  font-size: $font-size-web-heading;
}

#section-welcome h1 {
  font-family: $font-family-other;
}

.short-introduction {
  color: lightgrey;
}
